# Analisis Exploratorio

El analisis exploratorio se usa para i obtener un resumen que describa los datos. Generalmente se usa como etapa previa para otros tipos de analisis y generalmente se usan histogramas y graficos que muestren la relacion entre las distintas variables. Al mismo tiempo, nos interesa

In [1]:
import pandas as pd
pd.__version__

'1.0.4'

In [17]:
data = {'year': 
        [2010 , 2011 , 2012 ,
        2010 , 2011 , 2012 ,
        2010 , 2011 , 2012],
        'team': [
        'Rangers','Rangers',
        'Rangers','Colo Colo',
        'Colo colo','Colo Colo',
        'Universidad de Chile','Universidad de Chile',
        'Universidad de Chile'],
        'wins':[30 , 28 , 32 , 29 , 32 , 26 , 21 , 17 , 19] ,
        'draws':[6 , 7 , 4 , 5 , 4 , 7 , 8 , 10 , 8] ,
        'losses': [2 , 3 , 2 , 4 , 2 , 5 , 9 , 11 , 11]
        }

df = pd.DataFrame(data ,columns=['year','team','wins','draws','losses'])

In [18]:
df.head()

   year       team  wins  draws  losses
0  2010    Rangers    30      6       2
1  2011    Rangers    28      7       3
2  2012    Rangers    32      4       2
3  2010  Colo Colo    29      5       4
4  2011  Colo colo    32      4       2

La tabla ``df`` se encuentra indexada mediante un objeto del tipo ``pd.Index`` que nos sirve para acceder a los registros individuales.

In [19]:
print(df.index)

RangeIndex(start=0, stop=9, step=1)

In [24]:
df[df.index==0]

   year     team  wins  draws  losses
0  2010  Rangers    30      6       2

In [27]:
df.iloc[0]

year         2010
team      Rangers
wins           30
draws           6
losses          2
Name: 0, dtype: object

In [28]:
df[0:2]

   year     team  wins  draws  losses
0  2010  Rangers    30      6       2
1  2011  Rangers    28      7       3

In [38]:
sum_data=df.drop(['year'], axis=1).groupby('team').sum()

In [29]:
df2=pd.read_json('https://opendata.ecdc.europa.eu/covid19/casedistribution/json/')

In [30]:
df2.head()

                                             records
0  {'dateRep': '26/06/2020', 'day': '26', 'month'...
1  {'dateRep': '25/06/2020', 'day': '25', 'month'...
2  {'dateRep': '24/06/2020', 'day': '24', 'month'...
3  {'dateRep': '23/06/2020', 'day': '23', 'month'...
4  {'dateRep': '22/06/2020', 'day': '22', 'month'...